*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
/* #page1{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: rgb(48, 194, 25);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: rgb(37, 21, 13);
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 300px;
    width: 300px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 60px;
    position: relative;
    background-color: red;
    padding: 10px;
}
h2{
    font-size: 60px;
    padding: 10px;
    position: relative;
    background-color: yellow;
} */

#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(84, 20, 143);
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(182, 18, 215);
}
#page2 h1{
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase;
}